:root {
  --blue: #0997daef;
  --white: #ffffff;
  --black: #000000;
}

* {
  color: var(--fontColor);
  font-family: helvetica;
}
body {
  background: var(--bg);
}

ul {
  font-family: Helvetica;
}

li {
  list-style-type: circle;
}

.list {
  list-style: square;
}

.light-theme {
  --bg: var(--blue);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--blue);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}

.btn {
  position: absolute;
  top: 20px;
  left: 250px;
  height: 50px;
  border-radius: 50%;
  border: black;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.btn:focus {
  outline-style: none;
}
